@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

* {
    background-color: #1B263B;
    color: #E0E1DD;
    font-family: Open Sans, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
/*body {
    background-color: #212121;
}*/


@media print {
    .noPrint{
      display:none;
    }
    p {
        font-size: 100%;
    }
    .printable {
        font-size: 69%;
    }
    .disclaimer {
        display: none;
    }

  }

p {
    font-size: 125%;
}

.header_flex {
    /*create flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Dark_Theme {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-image: url('/img/icons8-moon-symbol-60.png');
    background-size: cover;
}

.container input:checked ~ .checkmark {
    background-image: url('/img/icons8-sun-60.png');
}

.footer {
    color: #778DA9;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}

.name {
    display: flexbox;
}

button {
    background-color: #0D1B2A;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 250%;
    border-bottom: 3px solid #0D1B2A;
    padding-bottom: 2px;
    margin-bottom: 3px;
    margin-left: 0px;

}

h2 {
    font-family: Roboto, sans-serif;
}

/*#logo {
    width: 5%;
}*/

.BW {
    filter: grayscale(69);
}

.clean_link {
    text-decoration: none;
    color: #E0E1DD;
}

.recept_link {
    text-decoration: underline #292929;
    color: #E0E1DD;
}

.nav-header {
    list-style-type: none;
    font-size: 150%;
    font-family: Open Sans, sans-serif;
    padding-left: 0px;
    display: flex;
    margin-top: 3px;
    margin-left: 0px;
}

.nav-header-item {
    padding-right: 2.69%;
    margin-left: 0px;
}

.nav-header-item :hover {
    font-size: 101%;
    padding-right: 2.6%;
    text-decoration: underline;
}

table {
    font-size: 125%;
    margin: 5px;
    border-spacing: 5px;
}

.surovina {
    text-align: left;
}

.ammount {
    text-align: right;
}

.pfp {
    width: 50%;
    margin-left: 2px;
}

.caption {
    margin-top: 2px;
    text-align: center;
    font-size: 125%;
}

.postup {
    font-size: 125%;
}


.center {
    /*center an elemnet*/

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home_head {
    margin-top: 0px;
    padding-top: 0px;
}

.abrev {

}

/*center item in a table*/


.Home {
    filter: drop-shadow(0px 5px 10px #0D1B2A);
    /*padding-right: 50%;*/
    /*border: 1px solid #17161b;*/
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    width: 100%;
}

/*Create a centered flexbox with items underneath each other without headings*/
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexbox-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*align components in footer underneath each other
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/

.footer-flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-heading {
    color: #778DA9;
    font-size: 115%;
    text-align: center;
}

.images {
    padding-top: 3px;
    padding-left: 0px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px 0 0 20px;
    width: 250px;
}

.home_link {
    text-decoration: none;
}

hr {
    color: #0D1B2A;
    margin: 0px;
}

.show_more {
    background-image: linear-gradient(to bottom, #0d1b2a00, #0D1B2A);
    text-align: center;
    margin: 0px;
    padding-top: 15px;
    border-radius: 25px 25px 0 0;
}

.show_more_button {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

.show_more_link {
    text-decoration: none;
    margin: 0px;
    background-color: #21212100;
}

.home_title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
}

.informace_img {
    filter: grayscale(69);
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px
}

.recept_flexbox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
/*
#print_button {
    width: 256px;
}*/

.img_recept {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;

}
